@model VetClinicAPI.Models.PetProfile

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PetProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetId" class="control-label"></label>
                <select asp-for="PetId" class ="form-control" asp-items="ViewBag.PetId"></select>
            </div>
           <div class="form-group">
    <label asp-for="VetNotes" class="control-label"></label>
    <textarea asp-for="VetNotes" class="form-control"></textarea>
    <span asp-validation-for="VetNotes" class="text-danger"></span>
</div>

<div class="form-group">
    <label for="uploadFile" class="control-label">Upload Vet Notes (txt)</label>
    <input type="file" name="uploadFile" class="form-control" accept=".txt" />
</div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
